Built-in Data Types
---
In programming, data type is an important concept.

Variables can store data of different types, and different types can do different things.

Python has the following data types built-in by default, in these categories:


Text Type:	str
---
Numeric Types:	int, float, complex
---
Sequence Types:	list, tuple, range
--
Mapping Type:	dict
--
Set Types:	set, frozenset
--
Boolean Type:	bool
--
Binary Types:	bytes, bytearray, memoryview
--
None Type:	NoneType
--

In [4]:
#text type

a = 'hello'
print(type(a))

<class 'str'>

In [78]:
a = """Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua."""
print(a)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

In [79]:
for x in "banana":
    print(x)

b
a
n
a
n
a

In [80]:
a = "Hello, World!"
print(len(a))

13

In [81]:
txt = "The best things in life are free!"
print("free" in txt)

True

In [82]:
txt = "The best things in life are free!"
if "free" in txt:
    print("Yes, 'free' is present.")

Yes, 'free' is present.

In [83]:
txt = "The best things in life are free!"
print("expensive" not in txt)

True

In [86]:
b = 'Hello, world' # -ve indexing starts from -1
print(b[-5:-2])

wor

In [5]:
#Numeric Types:	int, float, complex

b = 20
c = 20.5
d = 1j
print(type(b))
print(type(c))
print(type(d))

<class 'int'>
<class 'float'>
<class 'complex'>

In [7]:
#Sequence Types:	list, tuple, range

e = [1,'apple',2.0]
f = (2,3.5,'banana')
g = range(10)
print(g)
print(type(e))
print(type(f))
print(type(g))

range(0, 10)
<class 'list'>
<class 'tuple'>
<class 'range'>

In [8]:
#Mapping Type:	dict

dict = { 1:'hi',2:'how',3:'are you',4:'eren1'}
print(type(dict))

<class 'dict'>

In [10]:
#Set Types:	set, frozenset

x = {"apple", "banana", "cherry"}
print(type(x))

y = frozenset({'apple','orange','kiwi'})
print(type(y))

<class 'set'>
<class 'frozenset'>

frozenset()
--

 frozenset() Method creates an immutable Set

In [26]:
x = {"apple", "banana", "cherry"}
x.add(5)
print(x)

{5, 'banana', 'apple', 'cherry'}

CONTENT IS NOT CHANGABLE IN frozenset
--

In [27]:
z = frozenset({"apple", "banana", "cherry"})
z.add(6)
print(x)

AttributeError: 'frozenset' object has no attribute 'add'

Using frozenset() Method on tuple
--

In [29]:
nu = (1,2,3)
num = frozenset(nu)
print("frozenset is : ",num)

frozenset is :  frozenset({1, 2, 3})

Using frozenset() Method on list
--

In [30]:
nu = [1,2,3]
num = frozenset(nu)
print("frozenset is : ",num)

frozenset is :  frozenset({1, 2, 3})

Using frozenset() Method on Dictionary
--

In [31]:
# creating a dictionary

Student = {"name": "Ankit", "age": 21, "sex": "Male",
           "college": "MNNIT Allahabad", "address": "Allahabad"}
 
# making keys of dictionary as frozenset
key = frozenset(Student)
 
# printing dict keys as frozenset
print('The frozen set is:', key)

The frozen set is: frozenset({'name', 'address', 'age', 'college', 'sex'})

Boolean Type:	bool
--

In [32]:
x = True
print(type(x))

<class 'bool'>

Binary Types:	bytes, bytearray, memoryview
--

In [38]:
x= b'hello'
print(x)
print(type(x))

b'hello'
<class 'bytes'>

In [41]:
x = bytearray(8)
print(x)
print(type(x))

bytearray(b'\x00\x00\x00\x00\x00\x00\x00\x00')
<class 'bytearray'>

In [44]:
x = memoryview(bytes(6))
print(x)
print(type(x))

<memory at 0x000001D56D11D880>
<class 'memoryview'>

None Type:	NoneType
--

In [45]:
y = None
print(y)
print(type(y))

None
<class 'NoneType'>

In [51]:
x = str("Hello World")
print(x)
print(type(x))

Hello World
<class 'str'>

PYTHON NUMBERS
--
There are three numeric types in python :
1] int
2]float
3]complex

1]  int

In [53]:
x = 0
y = 35656222554887711
z = -3255522

print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'int'>
<class 'int'>

2]  Float


Float, or "floating point number" is a number, positive or negative, containing one or more decimals.

In [54]:
x = 1.10
y = 1.0
z = -35.59

print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

Float can also be scientific numbers with an "e" to indicate the power of 10.
--

In [58]:
x = 5e2        # 5 * 10^2 = 500
print(x)
print(type(x))

500.0
<class 'float'>

In [59]:
x = 35e3
y = 12E4
z = -87.7e100

print(x,y,z)
print(type(x))
print(type(y))
print(type(z))

35000.0 120000.0 -8.77e+101
<class 'float'>
<class 'float'>
<class 'float'>

Complex
--

Complex numbers are written with a "j" as the imaginary part:

In [60]:
x = 3+5j
y = 5j
z = -5j

print(x , y , z)
print(type(x))
print(type(y))
print(type(z))

(3+5j) 5j (-0-5j)
<class 'complex'>
<class 'complex'>
<class 'complex'>

Type Conversion
--

You can convert from one type to another with the int(), float(), and complex() methods:

In [64]:
x = 5
y = 6.5
z = 2+5j

#convert from int to float:
a = float(x)
#convert from float to int:
b = int(y)
#convert from int to complex:
c = complex(x)
d = complex(y)

print(a)
print(b)
print(c)
print(d)

print(type(a))
print(type(b))
print(type(c))

5.0
6
(5+0j)
(6.5+0j)
<class 'float'>
<class 'int'>
<class 'complex'>

Note: 
--

You cannot convert complex numbers into another number type.

Random Number
--


Python does not have a random() function to make a random number, but Python has a built-in module called random that can be used to make random numbers:

In [68]:
import random

print(random.randrange(1,10))

4

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.