Python Datetime
--

Python Dates
--
A date in Python is not a data type of its own, but we can import a module named datetime to work with dates as date objects.

In [1]:
# Import the datetime module and display the current date:

import datetime

x = datetime.datetime.now()
print(x)

2023-02-22 21:34:37.472916

Date Output
--
When we execute the code from the example above the result will be:

2023-02-22 21:34:37.472916
The date contains year, month, day, hour, minute, second, and microsecond.

The datetime module has many methods to return information about the date object.

Here are a few examples, you will learn more about them later in this chapter:

In [6]:
# Return the year and name of weekday:

import datetime

x = datetime.datetime.now()
print(x.year)
print(x.strftime("%A"))

2023
Wednesday

Creating Date Objects
--
To create a date, we can use the datetime() class (constructor) of the datetime module.

The datetime() class requires three parameters to create a date: year, month, day.

In [7]:
import datetime

x = datetime.datetime(2020,5,17)
print(x)

2020-05-17 00:00:00

**The datetime() class also takes parameters for time and timezone (hour, minute, second, microsecond, tzone), but they are optional, and has a default value of 0, (None for timezone).**

In [11]:
import datetime

x = datetime.datetime(2020,5,17,23,59,59,245) # with hrs,mins,secs & micro seconds
print(x)

2020-05-17 23:59:59.000245

The strftime() Method
--
The datetime object has a method for formatting date objects into readable strings.

The method is called strftime(), and takes one parameter, format, to specify the format of the returned string:

In [12]:
# Display the name of the month:

import datetime

x = datetime.datetime.now()

print(x.strftime("%B"))

February

In [13]:
# Display the name of the month:

import datetime

x = datetime.datetime(2018,6,24)

print(x.strftime("%B"))

June

In [26]:
import datetime

x = datetime.datetime(2018,6,24)

print(x.strftime("%A"))
print(x.strftime("%B"))
print(x.strftime("%C"))
print(x.strftime("%D"))
# print(x.strftime("%E")) error
print(x.strftime("%F"))
print(x.strftime("%G"))
print(x.strftime("%H"))
print(x.strftime("%I"))
# print(x.strftime("%J")) error
# print(x.strftime("%K"))
#print(x.strftime("%L"))

Sunday
June
20
06/24/18
2018-06-24
2018
00
12
00

In [35]:
import datetime

x = datetime.datetime.now()

print(x.strftime("%A"))
print(x.strftime("%B"))
print(x.strftime("%C"))
print(x.strftime("%D"))
# print(x.strftime("%E"))
print(x.strftime("%F"))
print(x.strftime("%G"))
print(x.strftime("%H"))
print(x.strftime("%I"))
#print(x.strftime("%J"))
#print(x.strftime("%K"))
#print(x.strftime("%L"))

Wednesday
February
20
02/22/23
2023-02-22
2023
21
09

A reference of all the legal format codes:
--

Directive	Description	                                 Example	
=========   ===========                                  =======

%a	        Weekday, short version	                     Wed	

%A	        Weekday, full version	                     Wednesday	

%w	        Weekday as a number 0-6, 0 is Sunday	     3	

%d	        Day of month 01-31	                         31	

%b	        Month name, short version	                 Dec	

%B	        Month name, full version	                 December	

%m	        Month as a number 01-12	                     12	

%y	        Year, short version, without century	     18	

%Y	        Year, full version	                         2018	

%H	        Hour 00-23	                                 17	

%I	        Hour 00-12	                                 05

%p	        AM/PM	                                     PM	

%M	        Minute 00-59	                             41	

%S	        Second 00-59	                             08	

%f	        Microsecond 000000-999999	                 548513	

%z	        UTC offset                                 	+0100	

%Z	        Timezone	                                 CST	

%j	        Day number of year 001-366	                 365	

%U	        Week number of year, Sunday as the 
            first day of week, 00-53	                 52	
            
%W	       Week number of year, Monday as the 
           first day of week, 00-53	                     52	
           
%c	       Local version of date and time	           Mon Dec 31 17:41:00 2018	
%C	        Century	                                     20	

%x	        Local version of date	                     12/31/18	

%X	        Local version of time	                     17:41:00

%%	        A % character	                             %	

%G	        ISO 8601 year	                             2018	

%u	        ISO 8601 weekday (1-7)	                     1

%V	        ISO 8601 weeknumber (01-53)	                 01

Python Math
--

Python has a set of built-in math functions, including an extensive math module, that allows you to perform mathematical tasks on numbers.

Built-in Math Functions
--
The min() and max() functions can be used to find the lowest or highest value in an iterable:

In [36]:
x = min(5,10,7,2)
y = max(23,34,35,3)

print(x)
print(y)

2
35

**The abs() function returns the absolute (positive) value of the specified number:**

In [37]:
x = abs(-7.25)

print(x)

7.25

**The pow(x, y) function returns the value of x to the power of y (xy).**

In [38]:
# Return the value of 2 to the power of 3 (same as 2 * 2 * 2):

x = pow(2,3)
print(x)

8

The Math Module
--
Python has also a built-in module called math, which extends the list of mathematical functions.

To use it, you must import the math module:

In [39]:
import math

When you have imported the math module, you can start using methods and constants of the module.

The math.sqrt() method for example, returns the square root of a number:

In [40]:
import math

x = dir(math)
print(x)

['__doc__', '__loader__', '__name__', '__package__', '__spec__', 'acos', 'acosh', 'asin', 'asinh', 'atan', 'atan2', 'atanh', 'ceil', 'comb', 'copysign', 'cos', 'cosh', 'degrees', 'dist', 'e', 'erf', 'erfc', 'exp', 'expm1', 'fabs', 'factorial', 'floor', 'fmod', 'frexp', 'fsum', 'gamma', 'gcd', 'hypot', 'inf', 'isclose', 'isfinite', 'isinf', 'isnan', 'isqrt', 'lcm', 'ldexp', 'lgamma', 'log', 'log10', 'log1p', 'log2', 'modf', 'nan', 'nextafter', 'perm', 'pi', 'pow', 'prod', 'radians', 'remainder', 'sin', 'sinh', 'sqrt', 'tan', 'tanh', 'tau', 'trunc', 'ulp']

In [41]:
import math

x = math.sqrt(64)
print(x)

8.0

**The math.ceil() method rounds a number upwards to its nearest integer, and the math.floor() method rounds a number downwards to its nearest integer, and returns the result:**

In [42]:
import math

x = math.ceil(4.2)
y = math.floor(1.9)

print(x)
print(y)

5
1

**The math.pi constant, returns the value of PI (3.14...):**

In [44]:
import math

x = math.pi
print(x)

3.141592653589793

Math Methods
--

Method	           Description
======             ===========

math.acos()	       Returns the arc cosine of a number

math.acosh()	   Returns the inverse hyperbolic cosine of a number

math.asin()	       Returns the arc sine of a number

math.asinh()	   Returns the inverse hyperbolic sine of a number

math.atan()	       Returns the arc tangent of a number in radians

math.atan2()	   Returns the arc tangent of y/x in radians

math.atanh()	   Returns the inverse hyperbolic tangent of a number

math.ceil()    	   Rounds a number up to the nearest integer

math.comb()	       Returns the number of ways to choose k items from n items                      without repetition and order

math.copysign()	   Returns a float consisting of the value of the first                            parameter and the sign of the second parameter

math.cos()	       Returns the cosine of a number

math.cosh()	       Returns the hyperbolic cosine of a number

math.degrees()	   Converts an angle from radians to degrees

math.dist()        Returns the Euclidean distance between two points (p and q),                    where p and q are the coordinates of that point

math.erf()	       Returns the error function of a number

math.erfc()	       Returns the complementary error function of a number

math.exp()	       Returns E raised to the power of x

math.expm1()	   Returns Ex - 1

math.fabs()        Returns the absolute value of a number

math.factorial()	Returns the factorial of a number
math.floor()	Rounds a number down to the nearest integer
math.fmod()	Returns the remainder of x/y
math.frexp()	Returns the mantissa and the exponent, of a specified number
math.fsum()	Returns the sum of all items in any iterable (tuples, arrays, lists, etc.)
math.gamma()	Returns the gamma function at x
math.gcd()	Returns the greatest common divisor of two integers
math.hypot()	Returns the Euclidean norm
math.isclose()	Checks whether two values are close to each other, or not
math.isfinite()	Checks whether a number is finite or not
math.isinf()	Checks whether a number is infinite or not
math.isnan()	Checks whether a value is NaN (not a number) or not
math.isqrt()	Rounds a square root number downwards to the nearest integer
math.ldexp()	Returns the inverse of math.frexp() which is x * (2**i) of the given numbers x and i
math.lgamma()	Returns the log gamma value of x
math.log()	Returns the natural logarithm of a number, or the logarithm of number to base
math.log10()	Returns the base-10 logarithm of x
math.log1p()	Returns the natural logarithm of 1+x
math.log2()	Returns the base-2 logarithm of x
math.perm()	Returns the number of ways to choose k items from n items with order and without repetition
math.pow()	Returns the value of x to the power of y
math.prod()	Returns the product of all the elements in an iterable
math.radians()	Converts a degree value into radians
math.remainder()	Returns the closest value that can make numerator completely divisible by the denominator
math.sin()	Returns the sine of a number
math.sinh()	Returns the hyperbolic sine of a number
math.sqrt()	Returns the square root of a number
math.tan()	Returns the tangent of a number
math.tanh()	Returns the hyperbolic tangent of a number
math.trunc()	Returns the truncated integer parts of a number

Math Constants
--

Constant	Description
========    ===========

math.e	    Returns Euler's number (2.7182...)

math.inf	Returns a floating-point positive infinity

math.nan	Returns a floating-point NaN (Not a Number) value

math.pi	    Returns PI (3.1415...)

math.tau	Returns tau (6.2831...)

Python cmath Module
--
Python has a built-in module that you can use for mathematical tasks for complex numbers.

The methods in this module accepts int, float, and complex numbers. It even accepts Python objects that has a __complex__() or __float__() method.

The methods in this module almost always return a complex number. If the return value can be expressed as a real number, the return value has an imaginary part of 0.

The cmath module has a set of methods and constants.

cMath Method
--

Method	        Description
======          ===========

cmath.acos(x)	Returns the arc cosine value of x
cmath.acosh(x)	Returns the hyperbolic arc cosine of x
cmath.asin(x)	Returns the arc sine of x
cmath.asinh(x)	Returns the hyperbolic arc sine of x
cmath.atan(x)	Returns the arc tangent value of x
cmath.atanh(x)	Returns the hyperbolic arctangent value of x
cmath.cos(x)	Returns the cosine of x
cmath.cosh(x)	Returns the hyperbolic cosine of x

cmath.exp(x)	Returns the value of Ex, where E is Euler's number                             (approximately 2.718281...), and x is the number passed to it

cmath.isclose()	Checks whether two values are close, or not

cmath.isfinite(x)	Checks whether x is a finite number

cmath.isinf(x)	Check whether x is a positive or negative infinty

cmath.isnan(x)	Checks whether x is NaN (not a number)

cmath.log(x[, base])	Returns the logarithm of x to the base

cmath.log10(x)	Returns the base-10 logarithm of x
cmath.phase()	Return the phase of a complex number
cmath.polar()	Convert a complex number to polar coordinates
cmath.rect()	Convert polar coordinates to rectangular form
cmath.sin(x)	Returns the sine of x
cmath.sinh(x)	Returns the hyperbolic sine of x
cmath.sqrt(x)	Returns the square root of x
cmath.tan(x)	Returns the tangent of x
cmath.tanh(x)	Returns the hyperbolic tangent of x

cMath Constants
--

Constant	Description
========    ===========
cmath.e	    Returns Euler's number (2.7182...)
cmath.inf	Returns a floating-point positive infinity value
cmath.infj	Returns a complex infinity value
cmath.nan	Returns floating-point NaN (Not a Number) value
cmath.nanj	Returns coplext NaN (Not a Number) value
cmath.pi	Returns PI (3.1415...)
cmath.tau	Returns tau (6.2831...)