Python Collections (Arrays)
--
  There are four collection data types in the Python programming language:

- List -- is a collection which is ordered and changeable. Allows duplicate       members.

- Tuple -- is a collection which is ordered and unchangeable. Allows duplicate     members.

- Set -- is a collection which is unordered, unchangeable*, and unindexed. No     duplicate members.
- Dictionary -- is a collection which is ordered** and changeable. No duplicate   members.

List
--
Lists are used to store multiple items in a single variable.

Lists are one of 4 built-in data types in Python used to store collections of data, the other 3 are Tuple, Set, and Dictionary, all with different qualities and usage.

Lists are created using square brackets:
--

In [2]:
list = ['apple',23,246.76,3j,23,23]
print(list)

['apple', 23, 246.76, 3j, 23, 23]

List Items
--
List items are ordered, changeable, and allow duplicate values.

List items are indexed, the first item has index [0], the second item has index [1] etc.

List Items - Data Types
--
List items can be of any data type:

Ordered
--
When we say that lists are ordered, it means that the items have a defined order, and that order will not change.

If you add new items to a list, the new items will be placed at the end of the list.

Changeable
--

The list is changeable, meaning that we can change, add, and remove items in a list after it has been created.

In [10]:
list2 = ['apple',23,35.67,'banana']
list2[1]='vinod'
print(list2)

['apple', 'vinod', 35.67, 'banana']

Allow Duplicates
--
Since lists are indexed, lists can have items with the same value:

List Length
--
To determine how many items a list has, use the len() function:

In [3]:
thislist = ["apple", "banana", "cherry"]
print(len(thislist))

3

The list() Constructor
--
It is also possible to use the list() constructor when creating a new list.

In [5]:
thislist = list
("apple", "banana", "cherry")
print(thislist)

['apple', 23, 246.76, 3j, 23, 23]

Access Items
--
List items are indexed and you can access them by referring to the index number:

In [8]:
list2 = ['apple',23,35.67,'banana']
print(list2[1])

23

Negative Indexing
--
Negative indexing means start from the end

-1 refers to the last item, -2 refers to the second last item etc.

In [11]:
thislist = ["apple", "banana", "cherry"]
print(thislist[-1])

cherry

Range of Indexes
--
You can specify a range of indexes by specifying where to start and where to end the range.

When specifying a range, the return value will be a new list with the specified items.

In [12]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:5])

['cherry', 'orange', 'kiwi']

In [13]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[:4])

['apple', 'banana', 'cherry', 'orange']

In [22]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:20])

['cherry', 'orange', 'kiwi', 'melon', 'mango']

In [15]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[-4:-1])

['orange', 'kiwi', 'melon']

Python - Change List Items
----

Change Item Value
--
To change the value of a specific item, refer to the index number:

In [16]:
x = ['vinod','ganesh','mahi','vivek',23,46,769.36,'ds']
x[1] = 111
print(x)

['vinod', 111, 'mahi', 'vivek', 23, 46, 769.36, 'ds']

Change a Range of Item Values
--
To change the value of items within a specific range, define a list with the new values, and refer to the range of index numbers where you want to insert the new values:

In [17]:
x = ['vinod','ganesh','mahi','vivek',23,46,769.36,'ds']
x[2:5] = ['i','am','Eren']
print(x)

['vinod', 'ganesh', 'i', 'am', 'Eren', 46, 769.36, 'ds']

If you insert more items than you replace, the new items will be inserted where you specified, and the remaining items will move accordingly:
--

In [28]:
thislist = ["apple", "banana", "cherry"]
thislist[1:2] = ["blackcurrant", "watermelon",'vinod','krishna']
print(thislist)

['apple', 'blackcurrant', 'watermelon', 'vinod', 'krishna', 'cherry']

If you insert less items than you replace, the new items will be inserted where you specified, and the remaining items will move accordingly:
--

In [21]:
thislist = ["apple", "banana", "cherry"]
thislist[1:5] = ["watermelon"]
print(thislist)

['apple', 'watermelon']

Insert Items
--
To insert a new list item, without replacing any of the existing values, we can use the insert() method.

The insert() method inserts an item at the specified index:

In [24]:
x = ['vinod','ganesh','mahi','vivek',23,46,769.36,'ds']
x.insert(2,'hari')
print(x)

['vinod', 'ganesh', 'hari', 'mahi', 'vivek', 23, 46, 769.36, 'ds']

Python - Add List Items
--

Append Items
--
To add an item to the end of the list, use the append() method:

In [29]:
x = ['vinod','ganesh','mahi','vivek',23,46,769.36,'ds']
x.append('hello')
print(x)

['vinod', 'ganesh', 'mahi', 'vivek', 23, 46, 769.36, 'ds', 'hello']

Extend List
--
To append elements from another list to the current list, use the extend() method.

In [30]:
x = [1,2,3,4]
y = ['apple','banana','kiwi']
y.extend(x)
print(y)

['apple', 'banana', 'kiwi', 1, 2, 3, 4]

Add Any Iterable
--
The extend() method does not have to append lists, you can add any iterable object (tuples, sets, dictionaries etc.).

In [31]:
a = [23,'apple','vinod',234.57,'kevin']
b = ('apple',334,58)
a.extend(b)
print(a)

[23, 'apple', 'vinod', 234.57, 'kevin', 'apple', 334, 58]

In [32]:
a = [23,'apple','vinod',234.57,'kevin']
b = {'chennai','apple',334,58}
a.extend(b)
print(a)

[23, 'apple', 'vinod', 234.57, 'kevin', 'chennai', 'apple', 58, 334]

In [33]:
a = [23,'apple','vinod',234.57,'kevin']
b = {'chennai':1,'apple':2,334:3,58:4}
a.extend(b)
print(a)

[23, 'apple', 'vinod', 234.57, 'kevin', 'chennai', 'apple', 334, 58]

Python - Remove List Items
--

Remove Specified Item
--
The remove() method removes the specified item.

In [34]:
y = ['apple','banana','kiwi']
y.remove('banana')
print(y)

['apple', 'kiwi']

Remove Specified Index
--
The pop() method removes the specified index.

In [35]:
thislist = ["apple", "banana", "cherry"]
thislist.pop(1)
print(thislist)

['apple', 'cherry']

If you do not specify the index, the pop() method removes the last item.
--

In [36]:
thislist = ["apple", "banana", "cherry"]
thislist.pop()
print(thislist)

['apple', 'banana']

The del keyword also removes the specified index:
--

In [37]:
x = ['apple','cash',13,36,'money']
del x[1]
print(x)

['apple', 13, 36, 'money']

The del keyword can also delete the list completely.
--

In [39]:
a = [1,2,3,35,87,98]
del a

Clear the List
--
The clear() method empties the list.

The list still remains, but it has no content.

In [40]:
thislist = ["apple", "banana", "cherry"]
thislist.clear()
print(thislist)

[]

Python - Loop Lists
--

Loop Through a List
--
You can loop through the list items by using a for loop:

In [42]:
list1 = ['apple','banana','orange','kiwi']
for x in list1:
    print(x)

apple
banana
orange
kiwi

Loop Through the Index Numbers
--
You can also loop through the list items by referring to their index number.

Use the range() and len() functions to create a suitable iterable.

In [48]:
x = ['apple','banana','orange','kiwi']
for i in range(len(x)):
    print(x[i])

apple
banana
orange
kiwi

Using a While Loop
--
You can loop through the list items by using a while loop.

Use the len() function to determine the length of the list, then start at 0 and loop your way through the list items by referring to their indexes.

Remember to increase the index by 1 after each iteration.

In [50]:
list1 = ['apple','banana','orange','kiwi']
i = 0
while (i < len(list1)):
    print(list1[i])
    i+=1

apple
banana
orange
kiwi

Looping Using List Comprehension
--
List Comprehension offers the shortest syntax for looping through lists:

In [51]:
list = [1,2,3,4,5,6,7,8,9]
[print(x) for x in list]

1
2
3
4
5
6
7
8
9

[None, None, None, None, None, None, None, None, None]

In [52]:
thislist = ["apple", "banana", "cherry"]
[print(x) for x in thislist]

apple
banana
cherry

[None, None, None]

List Comprehension
--
List comprehension offers a shorter syntax when you want to create a new list based on the values of an existing list.

Example:

Based on a list of fruits, you want a new list, containing only the fruits with the letter "a" in the name.

Without list comprehension you will have to write a for statement with a conditional test inside:

In [56]:
fruits = ['apple','banana','kiwi','orange','cherry']
newlist = []

for x in fruits:
    if 'a' in x:
        newlist.append(x)
print(newlist)

['apple', 'banana', 'orange']

With list comprehension you can do all that with only one line of code:
--

In [57]:
fruits = ['apple','banana','kiwi','orange','cherry']
newlist = [x for x in fruits if 'a' in x]
print(newlist)

['apple', 'banana', 'orange']

The Syntax
--
newlist = [expression for item in iterable if condition == True]

In [62]:
fruits = ['cherry','strawberry','mango','papaya','pine apple']
newlist = [x.upper() for x in fruits if 'a' in x]
print(newlist)

['STRAWBERRY', 'MANGO', 'PAPAYA', 'PINE APPLE']

In [64]:
fruits = ['cherry','strawberry','mango','papaya','pine apple']
newlist = [x if x!='mango' else 'orange' for x in fruits]
print(newlist)

['cherry', 'strawberry', 'orange', 'papaya', 'pine apple']

Python - Sort Lists
--

Sort List Alphanumerically
--
List objects have a sort() method that will sort the list alphanumerically, ascending, by default:

In [67]:
fruits = ['cherry','strawberry','mango','papaya','pine apple']
fruits.sort()
print(fruits)

['cherry', 'mango', 'papaya', 'pine apple', 'strawberry']

In [68]:
thislist = [100, 50, 65, 82, 23]
thislist.sort()
print(thislist)

[23, 50, 65, 82, 100]

Sort Descending
--
To sort descending, use the keyword argument reverse = True:

In [71]:
#Descending order
x = [35,1,24,575,32,45,322]
x.sort(reverse = True)
print(x)

[575, 322, 45, 35, 32, 24, 1]

In [72]:
#ascending

x = [35,1,24,575,32,45,322]
x.sort(reverse = False)
print(x)

[1, 24, 32, 35, 45, 322, 575]

Case Insensitive Sort
--
By default the sort() method is case sensitive, resulting in all capital letters being sorted before lower case letters:

In [73]:
fruits = ['cherry','Strawberry','mango','Papaya','pine apple']
fruits.sort()
print(fruits)

['Papaya', 'Strawberry', 'cherry', 'mango', 'pine apple']

Luckily we can use built-in functions as key functions when sorting a list.
--

So if you want a case-insensitive sort function, use str.lower as a key function:
--

In [74]:
fruits = ['cherry','Strawberry','mango','Papaya','pine apple']
fruits.sort(key = str.lower)
print(fruits)

['cherry', 'mango', 'Papaya', 'pine apple', 'Strawberry']

Reverse Order
--
What if you want to reverse the order of a list, regardless of the alphabet?

The reverse() method reverses the current sorting order of the elements.

In [76]:
fruits = ['cherry','strawberry','mango','papaya','pine apple']
fruits.reverse()
print(fruits)

['pine apple', 'papaya', 'mango', 'strawberry', 'cherry']

Copy a List
--
You cannot copy a list simply by typing list2 = list1, because: list2 will only be a reference to list1, and changes made in list1 will automatically also be made in list2.

There are ways to make a copy, one way is to use the built-in List method copy().

In [78]:
# wrong 

list1 = ['cherry','strawberry','mango','papaya','pine apple']
list2 = list1
print(list2)

['cherry', 'strawberry', 'mango', 'papaya', 'pine apple']

In [79]:
# Correct

list1 = ['cherry','strawberry','mango','papaya','pine apple']
list2 = list1.copy()
print(list2)

['cherry', 'strawberry', 'mango', 'papaya', 'pine apple']

Python - Join Lists
--

Join Two Lists
--
There are several ways to join, or concatenate, two or more lists in Python.

One of the easiest ways are by using the + operator.

In [81]:
list1 = ['a','b','c','d']
list2 = [1,2,3,4,5,6,7]
list3 = list1 + list2
print(list3)

['a', 'b', 'c', 'd', 1, 2, 3, 4, 5, 6, 7]

Another way to join two lists is by appending all the items from list2 into list1, one by one:
--

In [82]:
list1 = ['a','b','c','d']
list2 = [1,2,3,4,5,6,7]

for x in list2:
    list1.append(x)
print(list1)

['a', 'b', 'c', 'd', 1, 2, 3, 4, 5, 6, 7]

Or you can use the extend() method, which purpose is to add elements from one list to another list:
--

In [83]:
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

list1.extend(list2)
print(list1)

['a', 'b', 'c', 1, 2, 3]

Python - List Methods
--


Method	         Description
------           -----------
append()	     Adds an element at the end of the list

clear()        	 Removes all the elements from the list

copy()	         Returns a copy of the list

count()	         Returns the number of elements with the specified value

extend()	     Add the elements of a list (or any iterable), to the end of                  the current list

index()	         Returns the index of the first element with the specified                    value.

insert()	     Adds an element at the specified position

pop()	         Removes the element at the specified position

remove()	     Removes the item with the specified value

reverse()	     Reverses the order of the list

sort()	         Sorts the list

In [84]:
#append()

fruits = ['apple', 'banana', 'cherry']
fruits.append("orange")
print(fruits)

['apple', 'banana', 'cherry', 'orange']

In [86]:
a = ["apple", "banana", "cherry"]
b = ["Ford", "BMW", "Volvo"]
a.append(b)
print(a)

['apple', 'banana', 'cherry', ['Ford', 'BMW', 'Volvo']]

In [87]:
#clear()

fruits = ['apple', 'banana', 'cherry']
fruits.clear()
print(fruits)

[]

In [88]:
#copy()

fruits = ['apple', 'banana', 'cherry']
x = fruits.copy()
print(x)

['apple', 'banana', 'cherry']

In [89]:
#count()

fruits = ['apple', 'banana', 'cherry','cherry','cherry']
x = fruits.count("cherry")
print(x)

3

In [90]:
#extend()

fruits = ['apple', 'banana', 'cherry']

cars = ['Ford', 'BMW', 'Volvo']

fruits.extend(cars)
print(fruits)

['apple', 'banana', 'cherry', 'Ford', 'BMW', 'Volvo']

In [91]:
#index()

fruits = ['apple', 'banana', 'cherry']

x = fruits.index("cherry")
print(x)

2

In [92]:
#insert()

fruits = ['apple', 'banana', 'cherry']

fruits.insert(1, "orange")
print(fruits)

['apple', 'orange', 'banana', 'cherry']

In [93]:
#pop()

fruits = ['apple', 'banana', 'cherry']

fruits.pop(1)
print(fruits)

['apple', 'cherry']

In [94]:
#remove()

fruits = ['apple', 'banana', 'cherry']

fruits.remove("banana")
print(fruits)

['apple', 'cherry']

In [97]:
#sort()

cars = ['Ford', 'BMW', 'Volvo']

cars.sort()
print(cars)

['BMW', 'Ford', 'Volvo']

In [101]:

cars = ['Ford', 'bMW','23','11']

cars.sort()
print(cars)

['11', '23', 'Ford', 'bMW']