Python Sets
--

Set
--
Sets are used to store multiple items in a single variable.

Set is one of 4 built-in data types in Python used to store collections of data, the other 3 are List, Tuple, and Dictionary, all with different qualities and usage.

A set is a collection which is unordered, unchangeable*, and unindexed.

Note: Set items are unchangeable, but you can remove items and add new items.
--

In [1]:
thisset = {"apple", "banana", "cherry"}
print(type(thisset))

<class 'set'>

Set Items
--
Set items are unordered, unchangeable, and do not allow duplicate values.

Unordered
--
Unordered means that the items in a set do not have a defined order.

Set items can appear in a different order every time you use them, and cannot be referred to by index or key.

Unchangeable
--
Set items are unchangeable, meaning that we cannot change the items after the set has been created.


Duplicates Not Allowed
--
Sets cannot have two items with the same value.

In [2]:
#Duplicate values will be ignored:

thisset = {"apple", "banana", "cherry", "apple"}

print(thisset)

{'cherry', 'banana', 'apple'}

Note: The values (True and 1) and (False and 0) are considered the same value in sets, and are treated as duplicates:
--

In [8]:
#(True and 1) and (False and 0) is considered the same value:

thisset = {"apple", "banana", "cherry", True, 1, 2,False,0}

print(thisset)

{'cherry', 'banana', 2, True, False, 'apple'}

Get the Length of a Set
--
To determine how many items a set has, use the len() function.

In [9]:
set1 = {1,2,3,'apple','eren'}
print(len(set1))

5

Set Items - Data Types
--
Set items can be of any data type:

In [10]:
set1 = {"abc", 34, True, 40, "male"}
print(set1)

{'abc', 34, True, 40, 'male'}

The set() Constructor
--
It is also possible to use the set() constructor to make a set.

In [11]:
set1 = set([1,2,3,4,'apple','ewww'])
print(set1)

{1, 2, 3, 4, 'ewww', 'apple'}

In [16]:
set1 = set((1,2,3,4,'apple','ewww'))
print(set1)

{1, 2, 3, 4, 'ewww', 'apple'}

Python - Access Set Items
--
Access Items
--
You cannot access items in a set by referring to an index or a key.

But you can loop through the set items using a for loop, or ask if a specified value is present in a set, by using the in keyword.

In [18]:
set1 = {1,2,'apple',3,'banana'}
for x in set1:
    print(x)

1
2
3
banana
apple

In [19]:
set1 = {1,2,'apple',3,'banana'}
print('banana' in set1)

True

Change Items
--
Once a set is created, you cannot change its items, but you can add new items.

Python - Add Set Items
--

In [21]:
set1 = {1,2,'apple',3,'banana'}
set1.add('orange')
print(set1)

{1, 2, 3, 'banana', 'orange', 'apple'}

Add Sets
--
To add items from another set into the current set, use the update() method.

In [22]:
thisset = {"apple", "banana", "cherry"}
tropical = {"pineapple", "mango", "papaya"}
thisset.update(tropical)
print(thisset)

{'cherry', 'banana', 'mango', 'apple', 'papaya', 'pineapple'}

Add Any Iterable
--
The object in the update() method does not have to be a set, it can be any iterable object (tuples, lists, dictionaries etc.).

In [25]:
thisset = {"apple", "banana", "cherry"}
mylist = ["kiwi", "orange"]

thisset.update(mylist)

print(thisset)

{'cherry', 'banana', 'orange', 'apple', 'kiwi'}

Python - Remove Set Items
--
Remove Item
--
To remove an item in a set, use the remove(), or the discard() method.

In [27]:
thisset = {"apple", "banana", "cherry"}
thisset.remove('banana')
print(thisset)

{'cherry', 'apple'}

Note: If the item to remove does not exist, remove() will raise an error.
--

In [29]:
thisset = {"apple", "banana", "cherry"}

thisset.discard("banana")

print(thisset)

{'cherry', 'apple'}

Note: If the item to remove does not exist, discard() will NOT raise an error.
--

In [28]:
#error not came

thisset = {"apple", "banana", "cherry"}

thisset.discard("orange")

print(thisset)

{'cherry', 'banana', 'apple'}

pop()
--
You can also use the pop() method to remove an item, but this method will remove a random item, so you cannot be sure what item that gets removed.

The return value of the pop() method is the removed item.

In [30]:
thisset = {"apple", "banana", "cherry"}

x = thisset.pop()

print(x)

print(thisset)

cherry
{'banana', 'apple'}

clear()
--

In [31]:
#The clear() method empties the set:

thisset = {"apple", "banana", "cherry"}

thisset.clear()

print(thisset)

set()

del()
--

In [33]:
#The del keyword will delete the set completely: and raise an error

thisset = {"apple", "banana", "cherry"}

del thisset

Python - Loop Sets
--
Loop Items
--
You can loop through the set items by using a for loop:

In [34]:
set1 = {1,2,'app','cod','add'}
for x in set1:
    print(x)

1
2
cod
app
add

Python - Join Sets
--
Join Two Sets
--
There are several ways to join two or more sets in Python.

You can use the union() method that returns a new set containing all items from both sets, or the update() method that inserts all the items from one set into another:

union()
--

In [47]:
set1 = {1,2,3,4,5,1,1,1,1}
set2 = {'a','b','c',1,2,3}
set3 = set1.union(set2) #must create and assign to 3rd variable
print(set3)

{1, 2, 3, 4, 5, 'a', 'c', 'b'}

update()
--

In [48]:
set1 = {1,2,3,4,5,1,2,2,2,3}
set2 = {'a','b','c',1,2,3}
set1.update(set2) #must not create 3rd variable
print(set1)

{1, 2, 3, 4, 5, 'a', 'c', 'b'}

Keep ONLY the Duplicates
--
The intersection_update() method will keep only the items that are present in both sets.

intersection_update()
--

In [53]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.intersection_update(y) #must not create 3rd variable
print(x)

{'apple'}

The intersection() method will return a new set, that only contains the items that are present in both sets.
--

intersection()
--

In [55]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.intersection(y) #must create and assign to 3rd variable
print(z)

{'apple'}

Keep All, But NOT the Duplicates
---
The symmetric_difference_update() method will keep only the elements that are NOT present in both sets.

symmetric_difference_update() 
--

In [57]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.symmetric_difference_update(y) #must not create 3rd variable

print(x)

{'cherry', 'banana', 'google', 'microsoft'}

symmetric_difference()
--
The symmetric_difference() method will return a new set, that contains only the elements that are NOT present in both sets.

In [59]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.symmetric_difference(y) #must create and assign to 3rd variable

print(z)

{'cherry', 'banana', 'google', 'microsoft'}

In [61]:
#True and 1 is considered the same value:

x = {"apple", "banana", "cherry", True}
y = {"google", 1, "apple", 2}

z = x.symmetric_difference(y)
print(z)

{'cherry', 2, 'banana', 'google'}

Python - Set Methods
--


Method	                   Description
------                     -----------
add()	                   Adds an element to the set

clear()	                   Removes all the elements from the set

copy()	                   Returns a copy of the set

difference()	           Returns a set containing the difference between                              two or more sets

difference_update()	       Removes the items in this set that are also                                  included in another, specified set.

discard()	               Remove the specified item

intersection()	           Returns a set, that is the intersection of two                                other sets.

intersection_update()	   Removes the items in this set that are not present                            in other, specified set(s).

isdisjoint()	           Returns whether two sets have a intersection or                              not.

issubset()	               Returns whether another set contains this set or                              not.

issuperset()	           Returns whether this set contains another set or                              not.

pop()	                   Removes an element from the set

remove()	               Removes the specified element

symmetric_difference()	   Returns a set with the symmetric differences of                              two sets.

symmetric_difference_update()	inserts the symmetric differences from this                                   set and another.

union()	                   Return a set containing the union of sets

update()	               Update the set with the union of this set and                                others.

In [62]:
#add()

fruits = {"apple", "banana", "cherry"}

fruits.add("orange")

print(fruits)

{'cherry', 'banana', 'orange', 'apple'}

In [63]:
#clear()

fruits = {"apple", "banana", "cherry"}

fruits.clear()

print(fruits)

set()

In [64]:
#copy()

fruits = {"apple", "banana", "cherry"}

x = fruits.copy()

print(x)

{'cherry', 'banana', 'apple'}

In [65]:
#difference()

x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.difference(y)

print(z)

{'cherry', 'banana'}

In [66]:
#difference_update()

x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.difference_update(y)

print(x)

{'cherry', 'banana'}

In [67]:
#discard()

fruits = {"apple", "banana", "cherry"}

fruits.discard("banana")

print(fruits)

{'cherry', 'apple'}

In [68]:
#intersection()

x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.intersection(y)

print(z)

{'apple'}

In [69]:
#intersection_update()

x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.intersection_update(y)

print(x)

{'apple'}

In [70]:
#disjoint()

#Return True if no items in set x is present in set y:

x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "facebook"}

z = x.isdisjoint(y)

print(z)

True

In [71]:
#Return False if items in set x is present in set y:

x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "facebook",'banana'}

z = x.isdisjoint(y)

print(z)

False

In [72]:
#issubset()

#Return True if all items in set x are present in set y:
    
x = {"a", "b", "c"}
y = {"f", "e", "d", "c", "b", "a"}

z = x.issubset(y)

print(z)

True

In [73]:
# issuperset()

# Return True if all items set y are present in set x:

x = {"f", "e", "d", "c", "b", "a"}
y = {"a", "b", "c"}

z = x.issuperset(y)

print(z)

True

In [74]:
#pop()

#Remove a random item from the set:

fruits = {"apple", "banana", "cherry"}

fruits.pop()

print(fruits)

{'banana', 'apple'}

In [75]:
# remove()

#Remove "banana" from the set:

fruits = {"apple", "banana", "cherry"}

fruits.remove("banana")

print(fruits)

{'cherry', 'apple'}

In [76]:
#symmetric_difference()

# Return a set that contains all items from both sets, except items that are present in both sets:

x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.symmetric_difference(y)

print(z)

{'cherry', 'banana', 'google', 'microsoft'}

In [77]:
#symmetric_difference_update()

# Remove the items that are present in both sets, AND insert the items that is not present in both sets:

x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.symmetric_difference_update(y)

print(x)

{'cherry', 'banana', 'google', 'microsoft'}

In [78]:
# union()

# Return a set that contains all items from both sets, duplicates are excluded:

x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.union(y)

print(z)

{'cherry', 'banana', 'google', 'apple', 'microsoft'}

In [79]:
# update()

# Insert the items from set y into set x:

x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.update(y)

print(x)

{'cherry', 'banana', 'google', 'apple', 'microsoft'}