In [1]:
a = "Hello, World!"
print(a.upper())

HELLO, WORLD!

In [2]:
a = "Hello, World!"
print(a.lower())

hello, world!

Remove Whitespace
--

Whitespace is the space before and/or after the actual text, and very often you want to remove this space.

The strip() method removes any whitespace from the beginning or the end:

In [4]:
a = "    Hello,World!     "
print(a.strip()) # returns "Hello, World!"

Hello,World!

The replace() method replaces a string with another string:

In [5]:
a = "Hello world"
print(a.replace('H',"J"))

Jello world

The split() method returns a list where the text between the specified separator becomes the list items.

In [10]:
a = "where,are,you"
print(a.split(","))

['where', 'are', 'you']

String Concatenation
--
To concatenate, or combine, two strings you can use the + operator.

In [12]:
a = 'hello'
b = 'world'
c = a+ " "+b
print(c)

hello world

we cannot combine strings and numbers like this:
--

In [13]:
a = 'hello'
b = 18
c = a+ " "+b
print(c)

TypeError: can only concatenate str (not "int") to str

String Format
--

we can combine strings and numbers by using the format() method!

The format() method takes the passed arguments, formats them, and places them in the string where the placeholders {} are:

In [15]:
age = 18
txt = "My name is EREN and im {}"
print(txt.format(age))

My name is EREN and im 18

The format() method takes unlimited number of arguments, and are placed into the respective placeholders :
--

In [16]:
name = 'vinod'
age = 19
clg = 'kLU'
x = "Im {} and Im {} years old and Im stydying in {}"
print(x.format(name,age,clg))

Im vinod and Im 19 years old and Im stydying in kLU

You can use index numbers {0} to be sure the arguments are placed in the correct placeholders :
--

In [17]:
quantity = 3
itemno = 567
price = 49.95
myorder = "I want to pay {2} dollars for {0} pieces of item {1}."
print(myorder.format(quantity, itemno, price))

I want to pay 49.95 dollars for 3 pieces of item 567.

Escape Character
--
To insert characters that are illegal in a string, use an escape character.

An escape character is a backslash \ followed by the character you want to insert.

An example of an illegal character is a double quote inside a string that is surrounded by double quotes:

In [19]:
txt = "We are the so-called \"Vikings\" from the north."
print(txt)

We are the so-called "Vikings" from the north.

Other escape characters used in Python:
--



( \' )	        Single Quote	
( \\ )	        Backslash	
( \n )	        New Line	
( \r )	        Carriage Return	
( \t )	        Tab	
( \b )	        Backspace	
( \f )	        Form Feed	
( \ooo )	    Octal value	
( \xhh )	    Hex value

In [25]:
txt = 'We are the so-called \'Vikings\' from the north.'
print(txt)

We are the so-called 'Vikings' from the north.

String Methods
--

Note:
--
All string methods return new values. They do not change the original string.

In [27]:
#capitalize()	Converts the first character to upper case

x = "Hi How aRe yoU..?"
print(x.capitalize())

Hi how are you..?

In [30]:
#casefold()	Converts string into lower case

x = "Hi How aRe yoU..?"
print(x.casefold())

hi how are you..?

In [41]:
#center()	Returns a centered string

x = "Hi How aRe yoU..?"
print(x.center(50)) #25 spaces before and 25 sapces after

                Hi How aRe yoU..?

In [39]:
#count()	Returns the number of times a specified value occurs in a string

txt = "I love apples, apple are my favorite fruit"

x = txt.count("apple")

print(x)

2

In [42]:
#encode()	Returns an encoded version of the string

txt = "My name is St√•le"

x = txt.encode()

print(x)

b'My name is St\xc3\xa5le'