Python Tuples
--

Tuple
--
Tuples are used to store multiple items in a single variable.

Tuple is one of 4 built-in data types in Python used to store collections of data, the other 3 are List, Set, and Dictionary, all with different qualities and usage.

A tuple is a collection which is ordered and unchangeable.

Tuples are written with round brackets.

In [1]:
thistuple = ("apple", "banana", "cherry")
print(thistuple)

('apple', 'banana', 'cherry')

Tuple Items
--
Tuple items are ordered, unchangeable, and allow duplicate values.

Tuple items are indexed, the first item has index [0], the second item has index [1] etc.

Ordered
--
When we say that tuples are ordered, it means that the items have a defined order, and that order will not change.

Unchangeable
--
Tuples are unchangeable, meaning that we cannot change, add or remove items after the tuple has been created.

Allow Duplicates
--
Since tuples are indexed, they can have items with the same value:

In [2]:
thistuple = ("apple", "banana", "cherry", "apple", "cherry")
print(thistuple)

('apple', 'banana', 'cherry', 'apple', 'cherry')

Tuple Length
--
To determine how many items a tuple has, use the len() function:

In [3]:
thistuple = ("apple", "banana", "cherry")
print(len(thistuple))

3

Create Tuple With One Item
--
To create a tuple with only one item, you have to add a comma after the item, otherwise Python will not recognize it as a tuple.

In [6]:
tuple1 = ('eren',)
print(type(tuple1))

#not a tuple
tuple1 = ('eren')
print(type(tuple1))

<class 'tuple'>
<class 'str'>

Tuple Items - Data Types
--
Tuple items can be of any data type:

In [7]:
#A tuple with strings, integers and boolean values:

tuple1 = ("abc", 34, True, 40, "male")
print(tuple1)

('abc', 34, True, 40, 'male')

The tuple() Constructor
--
It is also possible to use the tuple() constructor to make a tuple.

In [8]:
thistuple = tuple(("apple", "banana", "cherry")) # note the double round-brackets
print(thistuple)

('apple', 'banana', 'cherry')

Python - Access Tuple Items
--
You can access tuple items by referring to the index number, inside square brackets:

In [9]:
thistuple = ("apple", "banana", "cherry")
print(thistuple[1])

banana

Negative Indexing
--
Negative indexing means start from the end.

-1 refers to the last item, -2 refers to the second last item etc.

In [10]:
thistuple = ("apple", "banana", "cherry")
print(thistuple[-1])

cherry

Range of Indexes
--
You can specify a range of indexes by specifying where to start and where to end the range.

When specifying a range, the return value will be a new tuple with the specified items.

In [11]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[2:5])

('cherry', 'orange', 'kiwi')

Range of Negative Indexes
--
Specify negative indexes if you want to start the search from the end of the tuple:

In [12]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[-4:-1])

('orange', 'kiwi', 'melon')

Python - Update Tuples
--
Tuples are unchangeable, meaning that you cannot change, add, or remove items once the tuple is created.

But there are some workarounds.
You can convert the tuple into a list, change the list, and convert the list back into a tuple

In [14]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
x = list(thistuple)
x[1] = 'eren'
thistuple = tuple(x)
print(thistuple)

('apple', 'eren', 'cherry', 'orange', 'kiwi', 'melon', 'mango')

Add Items
--
Since tuples are immutable, they do not have a build-in append() method, but there are other ways to add items to a tuple.

1.Convert into a list:
--
Just like the workaround for changing a tuple, you can convert it into a list, add your item(s), and convert it back into a tuple.

In [15]:
x = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
y = list(x)
y.append(1234)
x = tuple(y)
print(x)

('apple', 'banana', 'cherry', 'orange', 'kiwi', 'melon', 'mango', 1234)

2.Add tuple to a tuple.
--
You are allowed to add tuples to tuples, so if you want to add one item, (or many), create a new tuple with the item(s), and add it to the existing tuple:

In [18]:
x = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
y = (1234,)
x += y
print(x)

('apple', 'banana', 'cherry', 'orange', 'kiwi', 'melon', 'mango', 1234)

Remove Items
--

Tuples are unchangeable, so you cannot remove items from it, but you can use the same workaround as we used for changing and adding tuple items:

In [20]:
x = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
y = list(x)
y.remove('banana')
x = tuple(y)
print(x)

('apple', 'cherry', 'orange', 'kiwi', 'melon', 'mango')

Or you can delete the tuple completely:
--

In [21]:
thistuple = ("apple", "banana", "cherry")
del thistuple
print(thistuple) #this will raise an error because the tuple no longer exists

NameError: name 'thistuple' is not defined

Python - Unpack Tuples
--

Unpacking a Tuple
--
When we create a tuple, we normally assign values to it. This is called "packing" a tuple:

In [22]:
#Packing a tuple:

fruits = ("apple", "banana", "cherry")

But, in Python, we are also allowed to extract the values back into variables. This is called "unpacking":

In [23]:
#unPacking a tuple:

fruits = ("apple", "banana", "cherry")

(green,yellow,red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
cherry

Using Asterisk*
--
If the number of variables is less than the number of values, you can add an * to the variable name and the values will be assigned to the variable as a list:

In [26]:
fruits = ("apple", "banana", "cherry", "strawberry", "raspberry")

(green, yellow, *red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
['cherry', 'strawberry', 'raspberry']

If the asterisk is added to another variable name than the last, Python will assign values to the variable until the number of values left matches the number of variables left.

In [29]:
fruits = ("apple", "banana", "cherry", "strawberry", "raspberry")

(green, *yellow, red) = fruits

print(green)
print(yellow)
print(red)

apple
['banana', 'cherry', 'strawberry']
raspberry

Python - Loop Tuples
--
Loop Through a Tuple
--
You can loop through the tuple items by using a for loop.

In [30]:
thistuple = ("apple", "banana", "cherry")
for x in thistuple:
    print(x)

apple
banana
cherry

Loop Through the Index Numbers
--
You can also loop through the tuple items by referring to their index number.

Use the range() and len() functions to create a suitable iterable.

In [32]:
thistuple = ("apple", "banana", "cherry")
for x in range(len(thistuple)):
    print(thistuple[x])

apple
banana
cherry

Using a While Loop
--
You can loop through the tuple items by using a while loop.

Use the len() function to determine the length of the tuple, then start at 0 and loop your way through the tuple items by referring to their indexes.

Remember to increase the index by 1 after each iteration.

In [33]:
thistuple = ("apple", "banana", "cherry")
i = 0
while i < len(thistuple):
    print(thistuple[i])
    i+=1

apple
banana
cherry

Python - Join Tuples
--
Join Two Tuples
--
To join two or more tuples you can use the + operator:

In [34]:
tuple1 = ('1',2,3,4,5)
tuple2 = ('iam','eren')
tuple3 = tuple1 + tuple2
print(tuple3)

('1', 2, 3, 4, 5, 'iam', 'eren')

Multiply Tuples
--
If you want to multiply the content of a tuple a given number of times, you can use the * operator:

In [35]:
tup1 = (1,2,3,4,5)
tup2 = tup1 * 3
print(tup2)

(1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5)

In [37]:
#multiply list

list11 = [1,2,3,4,5]
list22 = list11 * 3
print(tup2)

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

Python - Tuple Methods
--
Python has two built-in methods that you can use on tuples.

Method	     Description
------       -----------
count()	     Returns the number of times a specified value occurs in a tuple

index()	     Searches the tuple for a specified value and returns the                      position of where it was found.

In [38]:
tup1 = (1,2,3,4,5,6,6,6,78,6,5,6)
z = tup1.count(6)
print(z)

5

In [39]:
tup1 = (1,2,3,4,5,6,6,6,78,6,5,6)
z = tup1.index(3)
print(z)

2

In [40]:
#it takes the 1st index if value repeated

tup1 = (1,2,3,4,5,6,6,6,78,6,5,6)
z = tup1.index(6)
print(z)

5