Different ways of creating dataframe : 
1.using csv
2.using Excel
3.From python Dictionary
4.From list of Tuples
5.From List of Dictionaries

In [1]:
#using csv

import pandas as pd
df=pd.read_csv("weather_data2.csv")
df

          day  temperature  windspeed  event
0  01-01-2017           32          6   Rain
1  01-02-2017           35          7  Sunny
2  01-03-2017           28          2   Snow
3  01-04-2017           24          7   Snow
4  01-05-2017           32          4   Rain
5  01-06-2017           31          2  Sunny

In [2]:
#using Excel
df1=pd.read_excel("weather_data_excel.xlsx")
df1

         day  temperature  windspeed  event
0 2017-01-01           32          6   Rain
1 2017-01-02           35          7  Sunny
2 2017-01-03           28          2   Snow

In [3]:
#From python Dictionaries
weather_data={
    'day' : ['1/1/2022','1/2/2022','1/3/2022','1/4/2022'],
    'temperature' : [35,36,38,39],
    'windspeed' : [4,6,5,9],
    'event' : ['Rain','Snow','Sunny','Snow']
}
df=pd.DataFrame(weather_data)
df

        day  temperature  windspeed  event
0  1/1/2022           35          4   Rain
1  1/2/2022           36          6   Snow
2  1/3/2022           38          5  Sunny
3  1/4/2022           39          9   Snow

In [4]:
#using list of tuples
weather_data=[
    ('1/1/2022',36,7,'Rain'),
    ('1/2/2022',37,8,'Snow'),
    ('1/3/2022',39,9,'Sunny')
]
df=pd.DataFrame(data=weather_data,columns=['day','temperature','windspeed','event'])
df

        day  temperature  windspeed  event
0  1/1/2022           36          7   Rain
1  1/2/2022           37          8   Snow
2  1/3/2022           39          9  Sunny

In [5]:
#From list of Dictionaries

weather_data=[
    {'day':'1/1/2022','temperature':35,'windspeed':5,'event':'Snow'},
    {'day':'1/3/2022','temperature':37,'windspeed':6,'event':'Rain'},
    {'day':'1/5/2022','temperature':39,'windspeed':8,'event':'Snow'},
    {'day':'1/7/2022','temperature':40,'windspeed':9,'event':'Sunny'}

     
     
]
df=pd.DataFrame(weather_data,columns=['day','temperature','windspeed','event'])
df

        day  temperature  windspeed  event
0  1/1/2022           35          5   Snow
1  1/3/2022           37          6   Rain
2  1/5/2022           39          8   Snow
3  1/7/2022           40          9  Sunny

In [6]:
df.dtypes #to know the datatypes of following data

day            object
temperature     int64
windspeed       int64
event          object
dtype: object

In [7]:
df.info() #The method info() provides technical information about a DataFrame

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   day          4 non-null      object
 1   temperature  4 non-null      int64
 2   windspeed    4 non-null      int64
 3   event        4 non-null      object
dtypes: int64(2), object(2)
memory usage: 256.0+ bytes